# charts/api-gateway/templates/service.yaml
apiVersion: v1
kind: Service
metadata:
  name: {{ .Release.Name }}
spec:
  type: ClusterIP
  ports:
  - port: 8082
    targetPort: {{ .Values.service.port }}
  selector:
    app: {{ .Release.Name }}