---
# Overrides para staging
baseDomain: staging.example.com

postgres:
  persistence:
    enabled: true
    size: 5Gi
  resources:
    limits:
      cpu: 1000m
      memory: 1Gi

appService:
  replicaCount: 2
  ingress:
    enabled: true