---
# Overrides para staging

baseDomain: staging.example.com
clusterIssuer: letsencrypt-staging

postgres:
  persistence:
    enabled: true
    size: 5Gi
  resources:
    requests:
      cpu: 200m
      memory: 256Mi
    limits:
      cpu: 1000m
      memory: 1Gi

redis:
  resources:
    limits:
      cpu: 200m
      memory: 256Mi